# dépendances
/node_modules
/.pnp
.pnp.js

# build / cache Next.js
/.next/
/out/
/build
next-env.d.ts

# production
/dist

# divers
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variables d'environnement (à NE PAS committer)
.env
.env*.local
.env.vercel

# éditeurs
.vscode/*
!.vscode/extensions.json
.idea

# Audits internes (ne pas committer)
AUDIT.md
AUDIT_RESOLU.md
